body{
    font-family: 'Prompt', sans-serif;
}
h1 {
    font-size: 5em;
    font-weight: 300;
}
nav{

}
header {
    height: 800px;
    width: 100px;
    background-image: url("../Images/Jellyfish.jpeg");
    background-repeat: no-repeat;
    

}
.projects {

}
.team {

}
.contact {

} 
footer {

}