*{
    box-sizing: border-box;
}
body{
    font-family: 'Prompt', sans-serif;
    
}
h1 {
    font-size: 4rem;
    font-weight: 700;
    color: white;
    text-align: center;
    font-family: 'Playfair display', serif;
    margin: auto;
    text-align: center;

}
h2 {
    font-size: 3.5rem;
    font-weight: 300;
    color: #3465ea;
    text-align: center;
    margin-top: 40px;
    letter-spacing: 0.2em;

}
article {
    font-family: 'Prompt', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 0.15;
}

nav{
    z-index: 4;
    background-color: lavender;
    opacity: 0.7;
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    position: fixed;
    

}

#title {
    visibility: hidden;
}


#navbar a {
    float: right;
    color: #242020;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 38px;
    position: relative;
    bottom: 0px; 
   
}
header {
    background-image: url("images/Jellyfishbanner.jpeg");
    background-size: cover;
    padding: 4rem 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    min-height: 500px;
}
.subheading {
    border-bottom: 1px solid #3465ea;
    border-top: 1px solid #3465ea;
    margin-top: 30px;
}
.description {
    background-color:  #3465ea;
    opacity: 0.7;
    color: white;
    width: 100%;
    padding-left: 10%;
    min-height: 30%; 
}

/* Projects section */


.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: 0 auto;
  }
  
  .grid {
    min-width: 500px;
    min-height: 1000px;
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .img {
    min-height: 50%;
    margin: 10px;
   display: flex;
   align-items: flex-end;
  }
  
  .turtle{
    background: url(../Resources/images/Turtle.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    
  }
  
  .cleanbeach{
    background: url(../Resources/cleanbeach2.jpeg) no-repeat center center;
    background-size: cover;
    width: 100%;
  }
  
  .bacteria{
    background: url(../Resources/images/bacteria.jpeg) no-repeat center center;
    background-size: cover;
    width: 100%;
    
  }
  
  .education{
    background: url(../Resources/images/education.jpeg) no-repeat center center;
    background-size: cover;
    width: 100%;
    
  }


/* team section */

.team {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    position: center;
    

}

h3 ,
h4 {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.teammate{
        min-width: 350px;
        min-height: 500px;
        display: flex;
        align-items: flex-end;
        margin: 12px;
     
}
.caitrin {
    background: url(../Resources/Caitrin.jpeg) no-repeat center center;
    background-size: cover;
    width: 100%;

}
.marcel {
    background: url(../Resources/Marcel.jpeg) no-repeat center center;
    background-size: cover;
    width: 100%;
}
.franco {
    background: url(../Resources/Franco.jpeg) no-repeat center center;
    background-size: cover;
    width: 100%;
}
.molly {
    background: url(../Resources/molly.jpeg) no-repeat center center;
    background-size: cover;
    width: 100%;
}
/* Contact section */ 

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} 
#address {
    width: 280px;
    padding-right: 40px;
    margin: 20px 0;
    flex-grow: 1;
    margin-left: 100px;
    font-family: 'Playfair display', serif;
    font-size: 1.5rem;
    font-weight: 100;
}
#map {
    width: 280px;
    min-height: auto;
    flex-grow: 2;
}
footer {

}

@media screen and (min-width: 800px) {
    .grid{
      min-height: 600px; 
    }
    
    .img{
      min-height: 50%;  
    }
    
    .turtle,
    .education {
      width: 30%;
    }
  
    .cleanbeach,
    .bacteria {
      width: 65%;
    }
    .teammate {
        width: 40%;
    }
    #title {
        visibility: visible;
        font-size: 1.5rem;
        position: absolute;
        bottom: 0px
    }
}


