body{
    font-family: 'Prompt', sans-serif;
}
h1 {
    font-size: 5em;
    font-weight: 300;
}
nav{

}
header {
    background-image: url("images/Jellyfishbanner.jpeg")
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px; 
    display: flex;
    align-items: center;

}
.projects {

}
.team {

}
.contact {

} 
footer {

}